/* ==== CSS Variables ========================================================================== */
/* file configurations */
:root {
    /**** Typography base rules */
    /* font type */
    --heading-font: 'Playfair', serif;
    --body-font: 'Lato', sans-serif;
    --body-font-secondary: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    --base-unit: 10px;
    --base-unit-rem: 1rem;
    /* font size */
    --small-font-size: 1.2rem;
    --body-font-size: 1.6rem;
    --h1-font-size: 6rem;
    --h2-font-size: 5rem;
    --h3-font-size: 4rem;
    --heading-line-height-1: 1;
    --heading-line-height-2: 1.2;
    --heading-line-height-3: 1.25;
    --body-line-height: 1.25;
    /* spacing */
    --spacing-xxsmall: calc(var(--base-unit-rem) / 2);
    --spacing-xsmall: var(--base-unit-rem);
    --spacing-small: calc((var(--base-unit-rem) / 2) * 3);
    --spacing-smedium: calc(var(--base-unit-rem) * 2);
    --spacing-medium: calc((var(--base-unit-rem) / 2) * 5);
    --spacing-lmedium: calc(var(--base-unit-rem) * 3);
    --spacing-large: calc(var(--base-unit-rem) * 4);
    --spacing-xlarge: calc(var(--base-unit-rem) * 5);
    --spacing-xxlarge: calc(var(--base-unit-rem) * 6);
    --spacing-xxxlarge: calc(var(--base-unit-rem) * 10);
    /* font spacing */
    --heading-font-spacing-large: var(--spacing-large) var(--spacing-xxsmall) var(--spacing-smedium);
    --heading-font-spacing-small: var(--spacing-smedium) var(--spacing-xxsmall) var(--spacing-xsmall);
    --body-font-spacing: 0 var(--spacing-xxsmall) var(--spacing-xsmall);
    /* font weight */
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-weight-bolder: 900;
    /* border size */
    --border-size-small: 0.1rem;
    --border-size-medium: 0.2rem;
    --border-size-large: 0.5rem;
    /* border radius size */
    --border-radius-size: 0.5rem;
    /* animation-speed */
    --animation-length: .5s;
    /* colors */
    --primary-color-xlight: #F3F3F7;
    --primary-color-light: #A9A9C6;
    --primary-color: #626293;
    --primary-color-dark: #414162;
    --primary-color-xdark: #29293D;

    --secondary-color-xlight: #FDECF4;
    --secondary-color-light: #F9C8DF;
    --secondary-color: #ED217C;
    --secondary-color-dark: #D01167;
    --secondary-color-xdark: #AA0E54;

    --color-highlight-xlight: #FDF7D8;
    --color-highlight-light: #F8E277;
    --color-highlight: #F9DC5C;
    --color-highlight-dark: #ECC209;
    --color-highlight-xdark: #D9B208;

    --color-white: #fff;
}