.wrapper {
    max-width: 80rem;
    margin: 0 auto;
    position: relative;
    max-width: 100rem;
    position: relative;
    padding: 0 8vw;
}

// .wrapper-fullWidth {
//     width: 100%;
//     position: relative;
// }